<div 
  class="card" 
  style="width: 18rem;"
  [ngStyle]="{'backgroundImage': boxShadow}"
  >
    <img class="card-img-top" [src]="pokemon.imgUrl" alt="Card image cap">
    <div class="card-body">
      <div class="description">
        <h2> {{ pokemon.name | uppercase }}</h2>
        <div class="types">
          <p *ngFor="let item of pokemon.types"
             [ngStyle]="{'backgroundColor': item.color}"
          >
            {{ item.name }}
          </p>
        </div>
      </div>
    </div>
  </div>
