.card {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.326);
}

.description {
    height: 100px;
    text-align: center;
}

.types {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.types p {
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: capitalize;
    color: rgb(107, 99, 99);
}

.description > .row > .col-md-4 {
    display: flex;
    justify-content: flex-end;
}

.description > .row > .col-md-4 > span {
    margin-top: 8px;
}